{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="farmers">


<section id="page-header" class="blog-header">
    <h2>Fresh from Farm to Your Plate</h2>
    <p>Farmer to Customer Journey in Less than a Day!!</p>


</section>
<section id="blog">
    <div class="blog-box">
        <div class="blog-img">
            <img src="{% static 'images/farmer2.jpg' %}"  alt="farmer1" ></a>
        </div>
        <div class="blog-details"></div>
        <h4>Kozhinjapara-New Farming Grounds</h4>
        <p>Kozhinjapara is a small village located in Palakkad district, Kerala. This farming village lies very close to the Kerala-Tamil Nadu border. Like Vattavada, farming is the main occupation of the people residing in Kozhinjapara. Vegetables like pumpkin, cucumber, ladyfinger, ash gourd, tomato, brinjal, spinach, gooseberry, ivy gourd are harvested on a large-scale production.</p>
        <a href="#">CONTINUE READING</a>
        <h1>13/01</h1>
    </div>
    <div class="blog-box">
        <div class="blog-img">
            <img src="{% static 'images/FAMR2.jpg' %}"  alt="farmer2" ></a>
        </div>
        <div class="blog-details"></div>
        <h4>Meet Sijo From Kerala!</h4>
        <p>“I am a South Indian, born and raised in UAE. My dad comes from a family of farmers and with little knowledge he started planting some plants like Mint, Moringa, Curry leaf, Aloe Vera, Tomato, Tapioca, Melon, Indian Spinach, Sweet potato by the side of our house. Due to the heat and not enough knowledge, the harvest used to be very low but we enjoyed working side by side. Those are the fondest memories I have with my father. We are well known in our neighbourhood because we share our beans, Moringa and tapioca with everyone who simply glances at our garden.</p>
        <a href="#">CONTINUE READING</a>
        <h1>13/01</h1>
    </div>
    <div class="blog-box">
        <div class="blog-img">
            <img src="{% static 'images/FARMR5.jpg' %}"  alt="farmer3" ></a>
        </div>
        <div class="blog-details"></div>
        <h4>Attempt to revive Traditional sustainable agricultural practices of Kerala</h4>
        <p> I am anu rajan. I was raised in Bombay and currently based in Kannur, Kerala.
            Sustainable living has been my dream since the past couple of years and in the meanwhile I have gone through various changes in my career.</p>
        <a href="#">CONTINUE READING</a>
        <h1>13/01</h1>
    </div>
    <div class="blog-box">
        <div class="blog-img">
            <img src="{% static 'images/FARMR6.jpg' %}"  alt="farmer4" ></a>
        </div>
        <div class="blog-details"></div>
        <h4>Payar (Cowpea) Farming and Caring</h4>
        <p>Cowpea can be cultivated very easly, It is easy to grow, even for beginners can do, and well in any climate. Cultivated in a wide range of soils in kerala, very well in sandy and sandy loam soils. Make sure the soil is rich in organic matter. It is widely cultivated in Kerala even in courtyard, terrace and farms.</p>
        <a href="#">CONTINUE READING</a>
        <h1>13/01</h1>
    </div>
</section>




<section id="pagination" class="section-p1">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#"><i class="fa-solid fa-arrow-right-long"></i></a>
</section>




<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Sign up for Newsletters</h4>
        <p>Get email updates about our latest <span>special offers</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your email address">
        <button class="normal">Sign up</button>
    </div>
</section>


<script src="{% static 'script.js' %}"></script>
</div>

{% endblock %}