
 {% load static %}
<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Sign up for Newsletters</h4>
        <p>Get email updates about our latest <span>special offers</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your email address">
        <button class="normal">Sign up</button>
    </div>
</section>

<footer class="section-p1">
    <div class="col">
        <img class="logo" src="{% static 'images/logo.jpg' %}" alt="Logo">
        <h4>Contact</h4>
        <p><strong>Address:</strong> Harvest Haven Labs </p>
        <p><strong>Phone:</strong> 8921592755</p>
        <p><strong>Hours:</strong> 10.00 to 5.00, Mon - Sat</p>
        <div class="follow">
            <h4>Follow us</h4>
            <div class="icon">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-pinterest"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div>
    </div>

    <div class="col">
        <h4>About</h4>
        <a href="#">About us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact Us</a>
    </div>
    <div class="col">
        <h4>My Account</h4>
        <a href="#">Sign In</a>
        <a href="#">View Cart</a>
        <a href="#">My wishlist</a>
        <a href="#">Track my order</a>
        <a href="#">Help</a>
    </div>
    <div class="col install">
        <h4>Install App</h4>
        <p>From App Store or Google Play</p>
        <div class="row">
            <img src="{% static 'images/app.jpg' %}" alt="App">
            <img src="{% static 'images/play.jpg' %}" alt="Play">
        </div>
        <p>Secured Payment Gateways</p>
        <img src="{% static 'images/pay.jpg' %}" alt="Pay">
    </div>
    <div class="copyright">
        <p>Copyright @ 2024 Harvest Haven. All Rights Reserved.</p>
    </div>
</footer>

<script src="{% static 'script.js' %}"></script>



</body>
</html>


